@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap';

a,
a:focus,
a:hover {
    color: #fff
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #333;
    text-shadow: none;
    background-color: #fff;
    border: .05rem solid #fff
}

html,
body {
    height: 100%;
    background-color: #333;
    font-family: Poppins
}

body {
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
    background-image: url(../images/background32.png);
    background-position: center;
    background-size: cover;
    border: 25px solid #191919;
    padding-top: 5px
}

.cover-container {
    z-index: 5;
    max-width: 98%
}

.masthead {
    margin-bottom: 2rem
}

.masthead-brand {
    margin-bottom: 0
}

.masthead-brand img {
    width: 60px;
    height: 60px
}

.nav-masthead {
    background-color: rgba(0, 0, 0, .7);
    border-radius: 10px;
    padding: 5px 10px 0 5px
}

.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
    border-bottom: .25rem solid transparent
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25)
}

.nav-masthead .nav-link+.nav-link {
    margin-left: 1rem
}

.nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff
}

@media(min-width:48em) {
    .masthead-brand {
        float: left
    }

    .nav-masthead {
        float: right
    }
}

.cover {
    padding: 0 1.5rem;
    text-align: left;
    background-color: rgba(0, 0, 0, .7);
    border-radius: 10px
}

.cover h1 {
    font-size: 60px;
    font-weight: 400;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 40px
}

.cover .lead {
    font-size: 26px;
    font-weight: 300;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 40px
}

.cover .lead-text {
    font-size: 26px;
    font-weight: 300;
    color: #0562e7
}

@media only screen and (max-width:600px) {
    .cover-container {
        max-width: 100%
    }

    .cover {
        padding: 0 1rem;
        text-align: left
    }

    .cover h1 {
        font-size: 28px;
        margin-top: 20px;
        text-align: center;
        padding: 0
    }

    .cover .lead {
        padding: 0
    }

    .cover .lead {
        font-size: 16px;
        text-align: center
    }

    .cover .lead-text {
        font-size: 16px;
        text-align: center;
        width: 100%;
        float: left
    }
}

.cover .btn-lg {
    padding: .75rem 1.25rem;
    color: #fff;
    background-color: transparent;
    border-color: #fff;
    border-radius: 2px;
    width: 200px;
    font-weight: 400;
    font-size: 18px;
    border-width: 2px
}

.cover .btn-lg:hover {
    background-color: #fff;
    color: #000
}

.mastfoot {
    color: rgba(255, 255, 255, .5)
}

.mastfoot ul {
    list-style-type: none;
    float: right;
    width: max-content
}

.mastfoot li {
    float: right;
    margin-left: 5px;
    margin-right: 5px
}

.mastfoot li a:hover {
    opacity: .8
}

.mastfoot li img {
    width: 25px
}